<!DOCTYPE html>

<html lang = "en">
<head>
    <title>Create Scheduler</title>
</head>

<body>
   
        <h1>Create Scheduler</h1>
       
 <form method = "post">
    <div>
    <label for ="scheduler_name">Scheduler Name: </label>
    <input type ="text", id="scheduler_name", name="scheduler_name", placeholder = "Informal Meeting", required>
    </div>

    <br>

    <div>
        <label for="creator_name">Name: </label>
        <input type ="text", id = "creator_name", name = "creator_name", required>
    </div>

    <br>

    <div>
        <label for="creator_password">Password: </label>
        <input type ="password", id = "creator_password", name = "creator_password", required>
    </div>


    <br>




    <div>
        <label for="limit">Participant Limit: </label>
        <input type ="number", id="limit", name="participant_limit", min="1", required>
    </div>

<br>

<div>
    <label for="potential_dates">Date Range for the Meeting (consecutive days): </label>
    <input type = "date", id="potential_dates",name="potential_dates",required>
</div>
<br>

<div>
    <label for="response_window">Duration of the Scheduler Poll (in hours):</label>
    <input type = "number",id="response_window", name="response_window",min="1", required>
</div>

<br>

    <div>
        <input type = "submit", value="Submit">
    </div>

 </form>


</body>
</html>